<th:block>
    <header>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="/">
                <i class="fa-solid fa-person-chalkboard"></i>
                <span class="navbar-text">Task Management</span>
            </a>

            <ul class="navHeader nav justify-content-center">
                <li class="nav-item ">
                    <a class="nav-link lead text-dark" th:href="@{/employees}">Employees</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link lead text-dark" th:href="@{/tasks}">Tasks</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link lead text-dark" th:href="@{/statistics}">Statistics</a>
                </li>
            </ul>
        </nav>

    </header>

</th:block>