<th:block>
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/statistics/productiveEmployees}">Top 5 employees by count of tasks finished past month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/statistics/tasksInProgress}">Current tasks in progress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/statistics/tasksDelayed}">Tasks completed after due date</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/statistics/tasksPerClient}">Total tasks per client</a>
            </li>
        </ul>
    </nav>
</th:block>