<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Employees</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<main>
    <div class="container-fluid">
        <div class="row">

            <div class="col-4">
                <th:block th:insert="~{/fragments/statistics-nav}"/>
            </div>
            <div class="col-4">
                <h6>Top 5 employees by number of finished tasks previous month:</h6>
                <table class="table table-bordered table-sm mt-2">
                    <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="e : ${productiveEmployees}" th:field="${e}" >

                        <td th:text="${e.fullName}"></td>
                        <td th:text="${e.numberOfTasksCompletedPastMonth}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>



</main>

<th:block th:insert="~{/fragments/footer}"/>


</body>
</html>