<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Employees</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<main>
    <div class="container-fluid">
        <div class="row">

            <div class="col-2">
                <th:block th:insert="~{/fragments/task-nav}"/>

            </div>
            <div class="col-10">
                <div class="container mb-xl-auto">
                    <h6 >Find a task by their title</h6>
                    <form th:action="@{/tasks/find}" th:method="GET">
                        <input type="text" name="inputTitle" th:value="${inputTitle}"  placeholder="Find by title" size="50" >
                        <button type="submit" class="btn btn-info" value="GetForm">Search</button>
                    </form>
                    <table class="table table-bordered table-sm mt-2">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Assignee</th>
                            <th>Client</th>
                            <th>Due date</th>
                            <th>Current Status</th>
                            <th>Mark as completed</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="t : ${displayTaskDTOS}" th:field="${t}" >
                            <td th:text="${t.id}"></td>
                            <td th:text="${t.title}"></td>
                            <td th:text="${t.description}"></td>
                            <td th:text="${t.assigneeFullName}"></td>
                            <td th:text="${t.clientName}"></td>
                            <td th:text="${t.dueDate}"></td>
                            <td th:text="${t.status}"></td>
                            <td>
                                <a th:href="@{/tasks/complete/{id}(id=${t.id})}" ><i class="fa-regular fa-square-check"></i></a>
                            </td>
                            <td>
                                <a th:href="@{/tasks/edit/{id}(id=${t.id})}" ><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <a th:href="@{/tasks/delete/{id}(id=${t.id})}" ><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</main>

<th:block th:insert="~{/fragments/footer}"/>


</body>
</html>